version: 1.1.3.{build}

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    PowerShellEdition: Desktop
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 5
    PowerShellEdition: Desktop
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 4
    PowerShellEdition: Desktop
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    PowerShellEdition: Core

configuration: Release
platform: Any CPU

# clone directory
clone_folder: c:\projects\powershellget

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# Install Pester and PackageManagement modules
install:
    - ps: |
        # Some AppVeyor OS images (ex: VS 2017) are pre-installed with the Azure modules using PowerShellGet cmdlets.
        # These pre-installed modules are causing prompts during Update-Module tests as the PSGallery repository is untrusted by design.
        # Below command removes the PSGetModuleInfo.xml files created by the Install-Module cmdlet.
        Get-Module -ListAvailable | ForEach-Object {Join-Path -Path $_.ModuleBase -ChildPath 'PSGetModuleInfo.xml'} | Where-Object {Test-Path -Path $_ -PathType Leaf} | Remove-Item -Force

        Import-Module .\tools\build.psm1
        Install-Dependencies
        Update-ModuleManifestFunctions
        Publish-ModuleArtifacts
        Install-PublishedModule

# to run your custom scripts instead of automatic MSBuild
#build_script:

# to disable automatic builds
build: off

# branches to build
branches:
  # whitelist
  only:
    - master
    - development
    - americks/debug-testfailure

# Run Pester tests and store the results
test_script:
    - ps: |
        $blockRdp = $true
        iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
        Invoke-PowerShellGetTest


# Upload the project along with TestResults as a zip archive
on_finish:
    - ps: |
        $zipFile = ".\dist\PowerShellGet.zip"
        Push-AppveyorArtifact $zipFile

        Get-ChildItem -Path .\Tests\ -Filter 'TestResults*.xml' -File | ForEach-Object {
            (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", "$($_.FullName)")
        }
